= form_for current_user.followings.find_by_entity_id_and_entity_type(entity.id, entity.class.to_s), :remote => true, :method => :delete do |f|
  = f.hidden_field :entity_id
  = f.hidden_field :entity_type
  = f.submit 'Unfollow', :class => 'btn btn-danger'
