<div class="about">

  <h1>About</h1>

  <%= current_site.about_lede.html_safe %>

  <img src="<%= asset_path 'amazon.svg' %>" alt="Amazon logo" width="200" style="float: right; margin-left: 2em" />

  <p>
    <strong>Product suggestion?</strong>  We would love to hear from you!  <a href="mailto:<%= current_site.contact_email %>">Email us</a> anytime.
  </p>

  <hr />

  <h1>How it Works</h1>

  <div class="row">
    <div class="box">
      <svg width="120px" height="120px" viewBox="0 0 107 107" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <title>g4</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="g4" sketch:type="MSLayerGroup" transform="translate(2.000000, 2.000000)">
                  <path d="M80,40 C80,62.092 62.092,80 40,80 C17.908,80 0,62.092 0,40 C0,17.908 17.908,0 40,0 C62.092,0 80,17.908 80,40 L80,40 Z" id="Fill-13" fill="#C6E3F8" sketch:type="MSShapeGroup"></path>
                  <path d="M80,40 C80,62.092 62.092,80 40,80 C17.908,80 0,62.092 0,40 C0,17.908 17.908,0 40,0 C62.092,0 80,17.908 80,40 L80,40 Z" id="Stroke-14" stroke="#0F81E0" stroke-width="4" stroke-linejoin="round" sketch:type="MSShapeGroup"></path>
                  <path d="M70.966,65.31 C69.274,67.378 67.378,69.274 65.31,70.966 L96.77,102.426 L102.426,96.77 L70.966,65.31 L70.966,65.31 Z" id="Fill-15" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                  <path d="M70.966,65.31 C69.274,67.378 67.378,69.274 65.31,70.966 L96.77,102.426 L102.426,96.77 L70.966,65.31 L70.966,65.31 Z" id="Stroke-16" stroke="#0F81E0" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" sketch:type="MSShapeGroup"></path>
              </g>
          </g>
      </svg>

      <p>
        We research and compare products to find the best quality at an affordable price.
      </p>
    </div>
    <div class="box">
      <svg width="120px" height="120px" viewBox="0 0 120 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <title>c141</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="c141" sketch:type="MSLayerGroup" transform="translate(2.000000, 2.000000)">
                  <path d="M10,22 L116,22 L116,78 L10,78 L10,22 Z" id="Fill-9" fill="#D0E8F9" sketch:type="MSShapeGroup"></path>
                  <path d="M10,22 L116,22 L116,78 L10,78 L10,22 Z" id="Stroke-10" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M0,0 L10,0 M10,0 L10,22 M10,78 L10,94" id="Stroke-11" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M38,104 C38,108.418 34.418,112 30,112 C25.582,112 22,108.418 22,104 C22,99.582 25.582,96 30,96 C34.418,96 38,99.582 38,104 L38,104 Z" id="Fill-12" fill="#E6E6E6" sketch:type="MSShapeGroup"></path>
                  <path d="M38,104 C38,108.418 34.418,112 30,112 C25.582,112 22,108.418 22,104 C22,99.582 25.582,96 30,96 C34.418,96 38,99.582 38,104 L38,104 Z" id="Stroke-13" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M92,104 C92,108.418 88.418,112 84,112 C79.582,112 76,108.418 76,104 C76,99.582 79.582,96 84,96 C88.418,96 92,99.582 92,104 L92,104 Z" id="Fill-14" fill="#E6E6E6" sketch:type="MSShapeGroup"></path>
                  <path d="M92,104 C92,108.418 88.418,112 84,112 C79.582,112 76,108.418 76,104 C76,99.582 79.582,96 84,96 C88.418,96 92,99.582 92,104 L92,104 Z" id="Stroke-15" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M10,94 L102,94" id="Stroke-16" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
              </g>
          </g>
      </svg>

      <p>
        You select your essentials. When you're ready to check out, you will be redirected to Amazon to complete your order.
      </p>
    </div>
    <div class="box">
      <svg width="120px" height="120px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <title>c111</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="c111" sketch:type="MSLayerGroup" transform="translate(2.000000, 2.000000)">
                  <path d="M96,0 L20,0 L0,32 L0,116 L116,116 L116,32 L96,0 L96,0 Z" id="Fill-9" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                  <path d="M96,0 L20,0 L0,32 L0,116 L116,116 L116,32 L96,0 L96,0 Z" id="Stroke-10" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M50,42 L58,50 L66,42 L70,46 L70,0 L46,0 L46,46 L50,42 L50,42 Z" id="Fill-11" fill="#D0E8F9" sketch:type="MSShapeGroup"></path>
                  <path d="M50,42 L58,50 L66,42 L70,46 L70,0 L46,0 L46,46 L50,42 L50,42 Z" id="Stroke-12" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M66,108 L58,100 L50,108 L46,104 L46,116 L70,116 L70,104 L66,108 L66,108 Z" id="Fill-13" fill="#D0E8F9" sketch:type="MSShapeGroup"></path>
                  <path d="M66,108 L58,100 L50,108 L46,104 L46,116 L70,116 L70,104 L66,108 L66,108 Z" id="Stroke-14" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M0,32 L116,32" id="Stroke-15" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M40,60 L76,60 L76,92 L40,92 L40,60 Z" id="Fill-16" fill="#D0E8F9" sketch:type="MSShapeGroup"></path>
                  <path d="M40,60 L76,60 L76,92 L40,92 L40,60 Z" id="Stroke-17" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M48,84 L60,84 M66,84 L68,84 M56,68 L68,68 M64,76 L68,76 M48,76 L52,76 M48,68 L50,68" id="Stroke-18" stroke="#0096E6" stroke-width="4" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                  <path d="M60,4 C60,5.104 59.104,6 58,6 C56.896,6 56,5.104 56,4 C56,2.896 56.896,2 58,2 C59.104,2 60,2.896 60,4" id="Fill-144" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M54,10 C54,11.104 53.104,12 52,12 C50.896,12 50,11.104 50,10 C50,8.896 50.896,8 52,8 C53.104,8 54,8.896 54,10" id="Fill-145" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M54,22 C54,23.104 53.104,24 52,24 C50.896,24 50,23.104 50,22 C50,20.896 50.896,20 52,20 C53.104,20 54,20.896 54,22" id="Fill-146" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M60,16 C60,17.104 59.104,18 58,18 C56.896,18 56,17.104 56,16 C56,14.896 56.896,14 58,14 C59.104,14 60,14.896 60,16" id="Fill-147" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M66,10 C66,11.104 65.104,12 64,12 C62.896,12 62,11.104 62,10 C62,8.896 62.896,8 64,8 C65.104,8 66,8.896 66,10" id="Fill-148" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M66,22 C66,23.104 65.104,24 64,24 C62.896,24 62,23.104 62,22 C62,20.896 62.896,20 64,20 C65.104,20 66,20.896 66,22" id="Fill-149" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M60,28 C60,29.104 59.104,30 58,30 C56.896,30 56,29.104 56,28 C56,26.896 56.896,26 58,26 C59.104,26 60,26.896 60,28" id="Fill-150" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M54,34 C54,35.104 53.104,36 52,36 C50.896,36 50,35.104 50,34 C50,32.896 50.896,32 52,32 C53.104,32 54,32.896 54,34" id="Fill-151" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M60,40 C60,41.104 59.104,42 58,42 C56.896,42 56,41.104 56,40 C56,38.896 56.896,38 58,38 C59.104,38 60,38.896 60,40" id="Fill-152" fill="#0096E6" sketch:type="MSShapeGroup"></path>
                  <path d="M66,34 C66,35.104 65.104,36 64,36 C62.896,36 62,35.104 62,34 C62,32.896 62.896,32 64,32 C65.104,32 66,32.896 66,34" id="Fill-153" fill="#0096E6" sketch:type="MSShapeGroup"></path>
              </g>
          </g>
      </svg>

      <p>
        Amazon ships your items to your door.  Ultimate convenience, intelligent choices.
      </p>
    </div>
  </div>

  <hr />

  <h1>Notes</h1>

  <p>
    <strong>How do we make money?</strong>  Any time you purchase something from our website, Amazon pays us a small percentage of the sale as a commission.
  </p>

  <p>
    <strong>Is this an Amazon product?</strong>  No, we are an Amazon affiliate merchant and are not owned or operated by Amazon.com, Amazon Services LLC, and/or its affiliates.
  </p>

  <p>
    <strong>Any other questions?</strong>  Please <a href="mailto:<%= current_site.contact_email %>">email us</a>.
  </p>

</div>
