<h1>Listing completions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @completions.each do |completion| %>
  <tr>
    <td><%= link_to 'Show', completion %></td>
    <td><%= link_to 'Edit', edit_completion_path(completion) %></td>
    <td><%= link_to 'Destroy', completion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Completion', new_completion_path %>
