extends layout

block content
  div.row
    div.large-12.columns
      h1 Hi!  Search

      ul.large-block-grid-5.movie-grid
        each result in results
          li
            a(href="/title/#{result.id}")
              img(src=(result.poster_path ? "http://cf2.imgobject.com/t/p/w92" + result.poster_path : "/images/movie.gif"))
              p #{result.title}