- page_title 'About Sermon Speaker'
- content_for :page_header do
  %h1
    About Sermon Speaker
    %small history, people, etc.


%p Engineers at Twitter have historically used almost any library they were familiar with to meet front-end requirements. Bootstrap began as an answer to the challenges that presented. With the help of many awesome folks, Bootstrap has grown significantly.
.row
  .span5
    %h3 History
    %p Engineers at Twitter have historically used almost any library they were familiar with to meet front-end requirements. Bootstrap began as an answer to the challenges that presented. With the help of many awesome folks, Bootstrap has grown significantly.
  .span5
    %p Bootstrap is tested and supported in major modern browsers like Chrome, Safari, Internet Explorer, and Firefox.
    %ul
      %li Latest Safari
      %li Latest Google Chrome
      %li Firefox 4+
      %li Internet Explorer 7+
      %li Opera 11