- page_title 'Contact Us'
- content_for :page_header do
  %h1
    Contact Us
    %small by phone, email, or Twitter

%p Feel free to contact us by phone at (123) 456-7890, by email at hi@site.com, or by Twitter @sermonspeaker