<% page_title 'About Check a Film' %>

<header class="jumbotron subhead" id="titlehead">
  <div class="container">
    <h1>About Check a Film</h1>
    <p class="lead">Written and maintained by Jacob Gillespie</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span12">
      <section>
        <p>Feel free to <a href="mailto:mail@jacobwg.com" target="_blank">get in touch</a> if you're interested.</a></p>
      </section>

      <section>
        <div class="page-header">
          <h1>Technical Details</h1>
        </div>
        <p>Check a Film is powered by Ruby on Rails, MySQL, Amazon EC2, Amazon S2, and Resque.  More details coming soon...</p>
      </section>
    </div>
  </div>
</div>