!!!
%html{:lang=>"en-US"}
  %head
    %link{:rel=>"stylesheet",:href=>"/stylesheets/style.css"}
    %meta{'http-equiv' => 'Content-Type',
      :content => 'text/html; charset=utf-8'}
    %title
      AppImagr
  %body
    #wrapper
      #header
        %h1
          AppImagr
      #main
        %p
          %ul
            %li http://appimagr.com/[iosappid].png
            %li http://appimagr.com/[small|medium|large]/[iosappid].png               
      #footer
        Copyright &copy; 2010
