<% unless user_signed_in? %>

  <p>This journey is about love.  It's learning and daring to live a life filled with loving relationships.  And this journey begins with the people God has placed in your life: your parents.  May God bless you as you begin this adventure.</p>

  <p>But be sure of this: it will take courage.  If you accept this dare, you must take the view that instead of <em>following</em> your heart, you are choosing to <em>lead it</em>.  The world says to follow your heart, but if you are not leading it, them someone or something else is.  The Bible says that "The heart is more deceitful than all else" (Jeremiah 17:9), and it will always pursue that which feels right at the moment.</p>

  <p>We are you to think differently - choosing instead to <em>lead your heart</em> toward that which is best in the long run.  This is the key to lasting, fulfilling relationships.</p>

  <p>The Love Dare journey is not a process of trying to change your parents to be the people you want them to be.  You've no doubt already discovered that efforts to change your mother or father have ended in failure and frustration.  Rather, this is a journey of exploring and demonstrating genuine love, even when your desire is dry and your motives are low.  The truth is, love is a decision and not just a feeling.  It is selfless, sacrificial, and transformational.  And when love is truly demonstrated as it was intended, your relationship is more likely to change for the better.</p>

  <p>Each day of this journey will contain three very important elements:</p>

  <p><strong>First,</strong> a unique aspect of love will be discussed.  Read each of these carefully and be open to a new understanding of what it means to genuinely love someone.</p>

  <p><strong>Second,</strong> you will be given a specific dare to do for your parents.  Some will be easy and some very challenging.  But take each dare seriously, and be creative and courageous enough to attempt it.  Don't be discouraged if outside situations prevent you from accomplishing a specific dare.  Just pick back up as soon as you can and proceed with the journey.</p>

  <p><strong>Last,</strong> you will be given a set of questions to answer in your journal, to log what you are learning and doing and how your parents are responding.  It is important that you take advantage of these questions to capture what is happening to both you and your parents along the way.  These notes will record your progress and should become priceless to you in the future.</p>

  <p>Remember, you have the responsibility to protect and guide your heart.  Don't give up and don't get discouraged.  Resolve to lead your heart and to make it through to the end.  Learning to truly love is one of the most important things you will ever do.</p>

  <blockquote>
    <p>Now these three remain: faith, hope, and love.  But the greatest of these is love.</p>
    <p> - 1 Corinthians 13:13</p>
  </blockquote>

  <blockquote>
    <p>If I speak with the tongues of men and of angels, but do not have love, I have become a noisy gong or a clanging cymbal.</p>
    <p>If I have the gift of prophecy, and know all mysteries and all knowledge; and if I have all faith, so as to remove mountains, but do not have love, I am nothing.</p>
    <p>And if I give all my possessions to feed the poor, and if I surrender my body to be burned, but do not have love, it profits me nothing.</p>
    <p>1 Corinthians 13:1-3</p>
  </blockquote>

  <p><%= link_to('Begin the journey &rarr;'.html_safe, signin_path, :class => 'btn')  %></p>

  <p><strong>Note:</strong> clicking <em>Begin the journey &rarr;</em> will log you into this website using Facebook.  At no time will anything ever be posted to your Facebook account from this website; Facebook login is <em>only</em> used so that we can keep track of your progress.</p>

<% end %>